<% layout('layouts/boilerplate')%>

<body class="container bg-dark my-5">
	<header class="d-flex justify-content-between mb-4">
		<div>
			<h1 class="h1 text-light my-auto">Create Test</h1>
			<p class="text-light fs-6">Choose from the questions below.</p>
		</div>
		<nav class="btn-group btn-group-sm my-auto" role="group" aria-label="nav group">
			<a class="btn btn-primary" href="/">Home</a>
			<a class="btn btn-secondary" href="/new-question">New Question</a>
		</nav>
	</header>

	<form action="/test-new-post" method="POST">
		<input class="form-control mb-5" type="text" name="test_name" id="test_name" placeholder="Test Name" required />
		<% questions.forEach((question)=> { %>
			<div class="card mb-5">
				<div class="card-body d-flex justify-content-between">
					<h5 class="card-title my-auto">
						<%= question.quest_text%>
					</h5>
					<div class="d-flex align-items-center gap-3">
						<a class="btn btn-warning btn-sm" href="/edit_question/<%= question.quest_id%>">Edit</a>
						<div class="form-check">
							<label class="sr-only" for="<%= question.quest_id%>">Use</label>
							<input class="form-check-input" id="checkboxNoLabel" type="checkbox" name="selected_questions"
								value="<%= question.quest_id%>" />
						</div>
					</div>
				</div>
			</div>
			<% }) %>
				<button class="btn btn-primary">Ok</button>
	</form>
</body>

</html>