<% layout('layouts/boilerplate')%>

<body class="container bg-dark my-5">
  <div class="d-flex justify-content-between mb-4">
    <h1 class="text-light my-auto"><%= testId %></h1>
    <nav class="btn-group btn-group-sm my-auto" role="group" aria-label="nav group">
      <a class="btn btn-primary" href="/">Home</a>
      <a class="btn btn-secondary" href="/test/<%= testId %>">Take Test</a>
    </nav>
  </div>
</body>

</html>